<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="members_index">

  <div class="pt-3">
    <div class="container">
      <div class="row row-eq-height">
        <% members.forEach((member) => { %>
          <div class="col-lg-4 col-md-6 col-sm-12">

              <div class="card card-shadow">
                <a class="card-img-mask card-img-mask-top" href="/members/<%= member._id %>">
                  <div class="icon-circle">
                    <img class="profile-img" src="<%= member.image %>" alt="<%= member.firstName %> profile image">
                  </div>
                  <img class="card-img" src="/images/McMaster_Baja_Logo.svg" alt="McMaster Baja Logo">
                </a>
                <div class="card-body text-center">
                  <h3 class="card-title"><%= member.firstName %> <%= member.lastName %></h3>
                </div>
              </div>

          </div>
        <% }); %>
      </div>
    </div>
  </div>

</div>

<%- include(views+'partials/footer4'); %>
