<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="members_index">

  <div class="pt-3">
    <div class="container">
      <div class="row row-eq-height">
        <% members.forEach((member) => { %>
          <div class="col-md-3 col-sm-4 col-xs-6">

            <div class="card card-shadow">
              <a class="card-img-mask card-img-mask-top" href="/members/<%= member._id %>">
                <div class="icon-circle">
                  <img src="https://res.cloudinary.com/<%= process.env.CLOUDINARY_CLOUD_NAME %>/image/upload/q_25/<%= member.image_id %>" alt="<%= member.firstName %> profile image">
                </div>
              </a>
              <div class="card-body text-center">
                <h3 class="card-title"><%= member.firstName %> <%= member.lastName %></h3>
              </div>
            </div>

          </div>
        <% }); %>
      </div>
    </div>
  </div>

</div>

<%- include(views+'partials/footer4'); %>
