<% const views = '../../' %>
<%- include(views+'partials/header'); %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h2>Welcome to McMaster Baja Racing!</h2>
      <p>
        <a class="btn btn-primary btn-lg" href="/expenseReports/new">Add a new Expense Report</a>
        <a class="btn btn-success btn-lg" id="csv_download" download="Expense_Report_CSV_<%= new Date() %>.csv" href="<%= csv_href_rep %>">Download CSV<br/><small>Ordered By Report</small></a>
        <a class="btn btn-success btn-lg" id="csv_download" download="Expense_Report_CSV_<%= new Date() %>.csv" href="<%= csv_href_item %>">Download CSV<br/><small>Ordered By Items</small></a>
      </p>
    </div>
  </header>


  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% expenseReports.forEach(function(expenseReport){ %>
      <a href="/expenseReports/<%= expenseReport._id %>">
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <div class="caption">
              <h5>Created on <%= expenseReport.created.toDateString() %></h5>
              <h5>Created by <%= expenseReport.author.firstName + " " + expenseReport.author.lastName %></h5>
             </div>
             <p>
               <a class="btn btn-primary" href="/expenseReports/<%= expenseReport._id %>">More Info</a>
             </p>
            </div>
         </div>
       </a>
    <% }); %>
  </div>



</div>

<%- include(views+'partials/footer'); %>
