<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="expenseReport_new">
  <div class="container">

    <div class="text-right pt-2">
      <div class="plusIcon">
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <div class="row">
      <div style="width: 95%; margin: auto auto" class=""> <!-- Keep Form centered -->
        <form class="" id="ExpenseReport" action="/expenseReports" method="post" enctype="multipart/form-data">
          <table id="expenseReportFormTable" style="overflow: auto;">
            <!-- HEADLINES -->
            <tr class="text-center">
              <th>Item</th>
              <th>Category</th>
              <th>Subteam</th>
              <th>Item Price</th>
              <th>Quantity</th>
            </tr>

            <!-- FIRST ROW / ExpenseItem 1-->
            <tr>
              <td>
                <div class="form-group item-name-input m-1"><input class="form-control" type="text" name="itemName[]" placeholder="Item Name"></div>
              </td>

              <td>
                <div class="form-group category-select m-1">
                  <select class="form-control" name="category[]" placeholder="Cateogry">
                    <% options.forEach((option, index) => { %>
                      <% if(option.select == "category"){ %>
                        <% if(index == 0){ %>
                          <option value="<%= option.value %>" selected><%= option.text %></option>
                        <% } else { %>
                          <option value="<%= option.value %>"><%= option.text %></option>
                        <% } %>
                      <% } %>
                    <% }); %>
                  </select>
                </div>
              </td>

              <td>
                <div class="form-group subteam-select m-1">
                  <select class="form-control" name="subteam[]" placeholder="Subteam">
                    <% options.forEach((option, index) => { %>
                      <% if(option.select == "subteam"){ %>
                        <% if(index == 0){ %>
                          <option value="<%= option.value %>" selected><%= option.text %></option>
                        <% } else { %>
                          <option value="<%= option.value %>"><%= option.text %></option>
                        <% } %>
                      <% } %>
                    <% }); %>
                  </select>
                </div>
              </td>

              <td>
                <div class="form-group item-price-input m-1"><input class="form-control" type="number" name="itemPrice[]" placeholder="Item Price"></div>
              </td>
              <td>
                <div class="form-group item-quantity-input m-1"><input class="form-control" type="number" step="1" name="quantity[]" placeholder="Quantity" value="1"></div>
              </td>
            </tr>
          </table>

          <hr class="style-two">

          <div class="form-group"><input id="currency" class="form-control" type="text" name="currency" placeholder="Currency" value="CAD"></div>
          <div class="form-group"><input id="retailer" class="form-control" type="text" name="store" placeholder="Retailer"></div>
          <div class="form-group"><input id="subtotal" class="form-control" type="number" step="0.01" name="subtotal" placeholder="Subtotal"></div>
          <div class="form-group"><input id="tax" class="form-control" type="number" step="0.01" name="tax" placeholder="Tax"></div>
          <div class="form-group"><input id="shipping" class="form-control" type="number" step="0.01" name="shipping" placeholder="Shipping"></div>
          <div class="form-group"><input id="total" class="form-control" type="number" step="0.01" name="total" placeholder="Total"></div>
          <div class="form-group"><textarea class="form-control" form="ExpenseReport" name="notes" placeholder="Add additional comments here ..." rows="5" wrap="soft"></textarea></div>

          <div class="form-group">
            <label class="form-label-bg" for="Reciept"><strong>Reciept: </strong></label>
            <input class="form-group" type="file" name="image" accept=".jpeg, .jpg, .png, .gif" required>
          </div>
          <div class="from-group">
            <input class="btn btn-lg btn-primary btn-block" type="submit" name="Submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div> <!-- /container -->
</div> <!-- /expenseReport_new -->

<%- include(views+'partials/footer4'); %>
