<% include ../partials/header %>

<div class="container">
  <div class="page-header title-ls">
    <h2><%= expenseReport.name %></h2>
  </div>
</div>

<div class="container">
  <% console.log(expenseReport); %>
  <% if(expenseReport.approved = false){ %>
    <form class="" action="/expenseReports/<%= expenseReport._id %>/approve?_method=PUT" method="post">
      <input type="submit" class="btn btn-lg btn-info" value="Approve">
    </form>
  <% } else { %>
    <form class="" action="/expenseReports/<%= expenseReport._id %>/unapprove?_method=PUT" method="post">
      <input type="submit" class="btn btn-lg btn-warning" value="Unapprove">
    </form>
  <% } %>
</div>

<% if(currentUser && expenseReport.author.equals(currentUser._id)){ %>
  <a class="btn btn-xs btn-warning" href="/expenseReports/<%= expenseItem.expenseReport %>/expenseItems/<%= expenseItem._id %>/edit">Edit</a>
  <form class="delete-form" action="/expenseReports/<%= expenseItem.expenseReport %>/expenseItems/<%= expenseItem._id %>?_method=DELETE" method="post">
    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
  </form>
<% } %>

<div class="container">
  <table style="width:100%">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Subteam</th>
      <th>Store</th>
      <th>Currency</th>
      <th>Subtotal</th>
      <th>Tax</th>
      <th>Shipping</th>
      <th>Item Total</th>
    </tr>
    <% expenseReport.expenseItems.forEach(function(expenseItem){ %>
      <tr>
        <td><%= expenseItem.itemName %></td>
        <td><%= expenseItem.category %></td>
        <td><%= expenseItem.subteam %></td>
        <td><%= expenseItem.store %></td>
        <td><%= expenseItem.currency %></td>
        <td><%= expenseItem.subtotal %></td>
        <td><%= expenseItem.tax %></td>
        <td><%= expenseItem.shipping %></td>
        <td><%= expenseItem.total %></td>
      </tr>
    <% }); %>
    <tr>
      <td>Total</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>


<hr class="style-two">


<% include ../partials/footer %>
