<% include ../partials/header %>

<% if(currentUser && (expenseReport.author.equals(currentUser._id) || currentUser.clearanceIsGET(userClearance.captain))){ %>
  <div class="container">
    <div class="row">
      <div class="col">
        <% if(currentUser && currentUser.clearanceIsGET(userClearance.captain)){ %>
          <% if(expenseReport.approved == false){ %>
            <form class="" action="/expenseReports/<%= expenseReport._id %>/approve?_method=PUT" method="post">
              <input type="submit" class="btn btn-lg btn-info" value="Approve">
            </form>
          <% } else { %>
            <form class="" action="/expenseReports/<%= expenseReport._id %>/unapprove?_method=PUT" method="post">
              <input type="submit" class="btn btn-lg btn-warning" value="Unapprove">
            </form>
          <% } %>
        <% } %>
      </div>
      <div class="col">
        <a class="btn btn-lg btn-warning" href="/expenseReports/<%= expenseReport._id %>/edit">Edit</a>
      </div>
      <div class="col">
        <form class="delete-form" action="/expenseReports/<%= expenseReport._id %>?_method=DELETE" method="post">
          <input type="submit" class="btn btn-lg btn-danger" value="Delete">
        </form>
      </div>
      </div>
    </div>
  </div>
<% } %>

<hr class="style-two">

<div class="container">
  <table style="width:100%">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Subteam</th>
      <th>Item Price</th>
      <th>Quantity</th>
    </tr>
    <% expenseReport.expenseItems.forEach(function(expenseItem){ %>
      <tr>
        <td><%= expenseItem.itemName %></td>
        <td><%= expenseItem.category %></td>
        <td><%= expenseItem.subteam %></td>
        <td><%= expenseItem.itemPrice %></td>
        <td><%= expenseItem.quantity %></td>
      </tr>
    <% }); %>
  </table>
</div>

<hr class="style-two">

<div class="container">
    <h5>Currency: <%= expenseReport.currency %></h5>
    <h5>Subtotal: <%= expenseReport.subtotal %></h5>
    <h5>Tax: <%= expenseReport.tax %></h5>
    <h5>Shipping: <%= expenseReport.shipping %></h5>
    <h5>Total: <%= expenseReport.total %></h5>
</div>

<% include ../partials/footer %>
