<% include ../partials/header %>

<div class="container">
  <div class="page-header title-ls">
    <h2><%= expenseReport.name %></h2>
  </div>
</div>

<div class="container">
  <% console.log(expenseReport); %>
  <% if(expenseReport.approved = false){ %>
    <form class="" action="/expenseReports/<%= expenseReport._id %>/approve?_method=PUT" method="post">
      <input type="submit" class="btn btn-lg btn-info" value="Approve">
    </form>
  <% } else { %>
    <form class="" action="/expenseReports/<%= expenseReport._id %>/unapprove?_method=PUT" method="post">
      <input type="submit" class="btn btn-lg btn-warning" value="Unapprove">
    </form>
  <% } %>
</div>


<% expenseReport.expenseItems.forEach(function(expenseItem){ %>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Item: <%= expenseItem.itemName %></h3>
      <h5>Category: <%= expenseItem.category %></h5>
      <h5>Subteam: <%= expenseItem.subteam %></h5>
      <h5>Store: <%= expenseItem.store %></h5>
      <h5>Currency: <%= expenseItem.currency %></h5>
      <h5>Subtotal: <%= expenseItem.subtotal %></h5>
      <h5>Tax: <%= expenseItem.tax %></h5>
      <h5>Shipping: <%= expenseItem.shipping %></h5>
      <h5>Total: <%= expenseItem.total %></h5>

      <% if(currentUser && expenseReport.author.equals(currentUser._id)){ %>
        <a class="btn btn-xs btn-warning" href="/expenseReports/<%= expenseItem.expenseReport %>/expenseItems/<%= expenseItem._id %>/edit">Edit</a>
        <form class="delete-form" action="/expenseReports/<%= expenseItem.expenseReport %>/expenseItems/<%= expenseItem._id %>?_method=DELETE" method="post">
          <input type="submit" class="btn btn-xs btn-danger" value="Delete">
        </form>
      <% } %>

    </div>
    <div class="col-8">
      <div class="image-responsive">
        <img src="/images/cmp3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<hr class="style-two">
<% }); %>



<% include ../partials/footer %>
