 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">McMaster Baja Racing</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <div class="caption">
          <h4><a href="#"><%= expenseReport.name %></a></h4>
          <p><%= expenseReport.description %></p>
          <p><em>Submitted By: </em><%= expenseReport.author.username %></p>
          <% if(currentUser && expenseReport.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/expenseReports/<%= expenseReport._id %>/edit">Edit</a>
            <form class="delete-form" action="/expenseReports/<%= expenseReport._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/expenseReports/<%= expenseReport._id %>/expenseItems/new">Add New ExpenseItem</a>
        </div>
        <hr>
        <% expenseReport.expenseItems.forEach(function(expenseItem){ %>
          <div class="row ExpenseItems">
            <div class="col-md-12">
              <strong><%= expenseItem.author.username %></strong>
              <span class="pull-right">10 days ago</span>
              <p>
                <%= expenseItem.text %>
              </p>
              <% if(currentUser && expenseItem.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning" href="/expenseReports/<%= expenseReport._id %>/expenseItems/<%= expenseItem._id %>/edit">Edit</a>
                <form class="delete-form" action="/expenseReports/<%= expenseReport._id %>/expenseItems/<%= expenseItem._id %>?_method=DELETE" method="post">
                  <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>







<!-- ---------------------------------------------------------------------------- -->
 <!-- PUTTT BACKKKKK!!!!  -->
 <div class="row text-center" style="display: flex; flex-wrap: wrap;">
   <% expenseReports.forEach(function(expenseReport){ %>
     <div class="col-md-3 col-sm-6">
       <div class="thumbnail">
         <div class="caption">
           <h4><%=  expenseReport.name %></h4>

         </div>
         <p>
           <a class="btn btn-primary" href="/expenseReports/<%= expenseReport._id %>">More Info</a>
         </p>
       </div>
      </div>
   <% }); %>
 </div>

 <!-- PUTTT BACKKKKK!!!!  -->
 <div class="row text-center" style="display: flex; flex-wrap: wrap;">
   <% expenseReports.forEach(function(expenseReport){ %>
     <a class="btn btn-primary" href="/expenseReports/<%= expenseReport._id %>">
       <div class="col-md-3 col-sm-6">
         <div class="thumbnail">
           <div class="caption">
             <h4><%=  expenseReport.name %></h4>
             <img src="<% expenseReport.populate('author').exec(function(err, popExpenseReport){if(err || !popExpenseReport){console.log(err);}else{ popExpenseReport.author.image }}) %>">
             <h6> expenseReport.created </h6>
            </div>
           </div>
        </div>
      </a>
   <% }); %>
 </div>
<!-- ------------------------------------------------------------------------------- -->
