<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="gallery">

  <div class="pt-3">
    <div class="container">
      <div class="row row-eq-height">
        <% folders.forEach(function(folder){ %>
          <div class="col-lg-3 col-md-6 col-sm-12">

            <a href="/<%= encodeURI(folder.path) %>">
              <div class="card card-shadow card-link-floater card-background card-lg">
                 <img class="card-img-bg" src="<%= folder.image_url %>" alt="<%= folder.name.replace(/_/g," ") %>">
                 <img class="card-img-bg" src="https://res.cloudinary.com/<%= process.env.CLOUDINARY_CLOUD_NAME %>/image/upload/q_25/<%= folder.image_public_id %>" alt="<%= folder.name.replace(/_/g," ") %>">
                 <div class="card-body">
                   <h3 class="card-title"><%= folder.name.replace(/_/g," ") %></h3>
                 </div>
              </div>
            </a>

          </div>
        <% }); %>
      </div>
    </div>
  </div>

</div>

<%- include(views+'partials/footer4'); %>
