<% const views = '../' %>
<%- include(views+'partials/header4'); %>

<div id="home">
  <div class="container">

    <div class="row row-eq-height">
      <% posts.forEach((post,index) => { %>

        <% if(index%2){ %>

         <div class="col-12">
          <a href="/post/<%= post.id %>"> <!-- use post.url to redirect to BLOGGER page -->
            <div class="card card-lg card-shadow">
              <div class="row row-eq-height row-no-padding">

                  <div class="col-lg-6">
                    <div class="card-img-mask card-img-mask-full">
                      <% images.resources.forEach((image) => { %>
                        <% if(image.filename == post.title){ %>
                          <img src="https://res.cloudinary.com/<%= process.env.CLOUDINARY_CLOUD_NAME %>/image/upload/q_25/<%= image.public_id %>" alt="Blog Image">
                        <% } %>
                      <% }) %>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="card-body card-link-floater">
                      <h3 class="card-title"><%= post.title %></h3>
                      <p><%= post.updated.substring(0,10) %></p>
                      <p class="card-text blog-post-preview">
                        <%= post.content.length > 25 ?
                        post.content.substring(0, 25) + "..." :
                        post.content; %>
                      </p>
                    </div>
                  </div>

              </div>
            </div>
          </a>
        </div>

        <%} else {%>

          <div class="col-12">
            <a href="/post/<%= post.id %>">
              <div class="card card-lg card-shadow">
                  <div class="row row-eq-height row-no-padding">

                      <div class="col-lg-6 order-md-2">
                        <div class="card-img-mask card-img-mask-full">
                          <% images.resources.forEach((image) => { %>
                            <% if(image.filename == post.title){ %>
                              <img src="https://res.cloudinary.com/<%= process.env.CLOUDINARY_CLOUD_NAME %>/image/upload/q_25/<%= image.public_id %>" alt="Blog Image">
                            <% } %>
                          <% }) %>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="card-body card-link-floater">
                          <h3 class="card-title"><%= post.title %></h3>
                          <p><%= post.updated.substring(0,10) %></p>
                          <p class="card-text blog-post-preview">
                            <%= post.content.length > 25 ?
                            post.content.substring(0, 25) + "..." :
                            post.content; %>
                          </p>
                        </div>
                      </div>

                  </div>
              </div>
            </a>
           </div>
        <% } %>

      <% }); %>
    </div>
  </div>
</div>

<%- include(views+'partials/footer4'); %>
